@font-face {
    font-family: 'figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 0 900;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: hsl(47, 88%, 63%);
    height: 100%;
    display: flex;
}

.main-content {
    border-style: solid;
    border-color: hsl(0, 0%, 7%);
    border-width: 0.1rem;
    border-radius: 3.5%;
    height: 40%;
    width: 16%;
    margin: auto;
    box-shadow: 0.6rem 0.6rem 0rem 0rem hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
}

#spacing-container {
    margin-left: 6%;
    margin-right: 6%;
    height: 100%;
}

.main-image {
    display: block;
    border-radius: 5%;
    width: 100%;
    height: auto;
    content: url('./assets/images/illustration-article.svg');
    margin-top: 6%;
    margin-bottom: 6%;
}

#learning {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 20%;
    border-radius: 8.5%;
    font-size: 75%;
    font-family: figtree;
    font-weight: 800;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
}

#publish-date {
    margin-top: 4%;
    margin-bottom: 6%;
    font-family: figtree;
    font-style: normal;
    font-size: 80%;
    font-weight: 600;    
}

h1 {
    margin-top: -2%;
    font-family: figtree;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 800;
}

#main-written-content {
    margin-top: 4%;
    margin-bottom: 6%;
    line-height: 1.375;
    font-family: figtree;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: hsl(0, 0%, 50%); 
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.author-img {
    height:auto;
    width: 7%;
    max-width: 7%;
    content: url('./assets/images/image-avatar.webp');
}

#author {
    margin-top: -2%;
    margin-left: 1.75%;
    position: relative;
    top: -1.35%;
    font-family: figtree;
    font-style: normal;
    font-weight: 800;
    font-size: 0.8rem;
}


@media (width: 1440px)
{
    .main-content {
        height: 45%;
        width: 26%;
    }
}


@media (width: 375px)
{
    .main-content {
        height: 55%;
        width: 85%;
    }
}